
.cardCreatorMenu {
  position: fixed;
  width: 90vw;
  height: 90vh;
  background: white;
  border: 2px solid black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  display: flex;
  font-size: 2rem;
  z-index: 10;
  overflow: hidden;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .cardCreatorMenu {
    background: #333;
  }
  .cardCreatorLeftPanel.cardCreatorLeftPanel {
    background: #444;
  }
}

.cardCreatorMenu h2 {
  margin: 0;
  font-size: 2.5rem;
  font-family: LilitaOne;
}

.cardCreatorLeftPanel {
  padding: 2rem;
  width: 20vw;
}

.cardCreatorRightPanel {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardCreatorMenu[hidden] {
  display: none;
}

@keyframes scaleIn {
  from {
    max-width: 0;
    max-height: 0;
  }
  to {
    max-width: 90vw;
    max-height: 90vh;
  }
}

@keyframes scaleOut {
  from {
    max-width: 90vw;
    max-height: 90vh;
  }
  to {
    max-width: 0;
    max-height: 0;
  }
}

.cardCreatorLeftPanel {
  background: #eee;
}

.cardCreatorCloseButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: #333;
  border: 1px solid black;
  font-family: Cabin;
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: .2rem;
  cursor: pointer;
  color: white;
  transition: background-color .3s;
}

.cardCreatorCloseButton:hover {
  background: #555;
}

.cardNameLabel, .cardDescriptionLabel, .cardDrawLabel {
  font-size: 1.5rem;
  font-family: LilitaOne;
}

.cardCreatorRightPanel input, .cardCreatorRightPanel textarea {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: .2rem;
  font-family: Cabin;
  transition: background-color .1s;
}

.cardCreatorRightPanel input:hover, .cardCreatorRightPanel textarea:hover {
  background: #eee;
}

.cardCreatorRightPanel textarea {
  height: 3rem;
}

.previewCard, .cardCreatorLeftPanel .card, .cardCreatorRightPanel .card {
  font-size: 1rem;
}

.previewCardInner {
  transition: background-color .3s, color .3s;
}

.previewCardInner, .coloredColorCard {
  --color: #ffdddd;
  --dark: #654062;
}

.drawAmountField {
  display: flex;
  gap: 1rem;
  width: 100%;
}

#cardDraw {
  flex-grow: 1;
}

.wildColorCardInner {
  --color: #333;
  --dark: #333;
  --text: #fff;
}

.cardColorForms {
  display: flex;
  gap: 1rem;
}

.copyJSONButton {
  background-color: #bbb;
  border: 1px solid black;
  font-family: Cabin;
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: .2rem;
  cursor: pointer;
  transition: background-color .3s;
}

.copyJSONButton:hover {
  background-color: #999;
}

.effectCreateDiv {
  display: flex;
  gap: 1rem;
}

.cardCreatorEffectsPanel {
  width: 40vw;
  background: #eee;
  padding: 2rem;
  overflow-y: scroll;
}

.cardCreatorEffectsPanel h3 {
  margin: 0;
  font-size: 2.5rem;
  font-family: LilitaOne;
}

.cardCreatorEffectsPanel select {
  padding: 1rem;
  font-family: Cabin, sans-serif;
  font-size: 1rem;
  background: #ddd;
  border: 1px solid #999;
  border-radius: .5rem;
  cursor: pointer;
  flex-grow: 1;
}

.cardCreatorEffectsPanel select:hover {
  background: #bbb;
}

.cardCreatorEffectsPanel option {
  font-size: 1rem;
  background: #ddd;
}

.addEffectButton {
  padding: 1rem;
  font-family: Cabin, sans-serif;
  font-size: 1rem;
}